<!DOCTYPE html>
<html>
<head>
    <title>URL History</title>
</head>
<body>

<h2>URL History</h2>

<table border="1">
    <tr>
        <th>Original URL</th>
        <th>Short URL</th>
    </tr>

    {% for url in urls %}
    <tr>
        <td>{{ url.original_url }}</td>
        <td>
            <a href="/{{ url.short_code }}" target="_blank">
                {{ request.host_url }}{{ url.short_code }}
            </a>
        </td>
    </tr>
    {% endfor %}
</table>

<br>
<a href="/">Back to Home</a>

</body>
</html>
